<%= @genre.name %>

<% @movies.each do |movie| %>
  <%= movie.title %>
<% end %>

<h1>Average Rating for All Movies in this Genre:</h1>
<%= @genre.average_rating %>

<h1>Title and Rating of Highest Rated Movie:</h1>
<%= @highest_rated.title %>
<%= @highest_rated.rating %>

<h1>Title and Rating of Lowest Rated Movie:</h1>
<%= @lowest_rated.title %>
<%= @lowest_rated.rating %>