<h1><%= @movie.title %></h1>

<p>Synopsis of the movie:</p>
<p><%= @movie.description %></p>

<p>Directed by: <%= @movie.director.name %></p>

<h1>Genres for this Movie:</h1>
<% @genres.each do |genre| %>
  <p><%= genre.name %></p>
<% end %>

<h1>Rating for this Movie:</h1>
<%= @movie.rating %>

<% if !@similar_movies.nil?%>
  <h1>Movies That Share This Rating:</h1>
  <% @similar_movies.each do |movie| %>
    <%= movie.title %>
  <% end %>
<% end %>
